name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby 3.0.2
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.2
    - name: Cache Gems
      uses: actions/cache@v4.3.0
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: ${{ runner.os }}-gems-
    - name: Build
      run: |
        gem install bundler
        bundle install
    - name: Static analysis
      run: bundle exec rubocop
    - name: Run tests
      run: bundle exec rspec --format documentation
